@import 'variable.scss';

@font-face {
  font-family: 'Onest';
  src:  url('./fonts/Onest-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Onest';
  src: url('./fonts/Onest-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  src: url('./fonts/Onest-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  src: url('./fonts/Onest-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: $color-background-default;
  @include text1;
  font-family: $font-fontFamily;
}

li {
  list-style: none;
}

a {
  transition: 0.4s;
}

a:active,
a:hover,
a:focus {
  outline: 0;
  outline-offset: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a:hover {

}

.btn {

}


.btn:hover {

}

// Хедер

.mobileMenu {
  display: none;
}

// Инфо

// Дополнительные источники

// Баланс

// Партнеры

// Как работаем

// Форма

// Адаптивность
@media (max-width: 1339px) {

}

@media (max-width: 767px) {

}

@media (max-width: 320px) {

}