@import "variable.scss";

@font-face {
  font-family: "Onest";
  src: url("./fonts/Onest-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Onest";
  src: url("./fonts/Onest-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Onest";
  src: url("./fonts/Onest-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Onest";
  src: url("./fonts/Onest-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: $color-background-default;
  @include text1;
  font-family: $font-fontFamily;
}

a {
  color: $color-text-primary;
  border: 1px solid transparent;
  text-decoration: none;
  transition: $transition-duration;
  &:hover {
    color: $color-text-hover;
  }
  .active {
    color: $color-text-hover;
    border: 1px solid $color-link-primary;
  }
}

a:active,
a:hover,
a:focus {
  outline: 0;
  outline-offset: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 30px;
}

.btn {
  @include flex;
  @include button;
  border-radius: $container-border-radius-medium;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: $transition-duration;
  &-black {
    @include btn-black;
    &-active {
      @include btn-black-active;
      &:hover {
        @include btn-black-hover;
      }
    }
  }
  &-orange {
    @include btn-orange;
    &:hover {
      @include btn-orange-hover;
    }
  }
}

.title {
  &-one {
    @include h1;
  }
  &-two {
    @include h2;
  }
  &-three {
    @include h3;
  }
}

// Хедер
.header {
  .container {
    margin-top: 48px;
    @include flex(space-between);
  }
  &__logo {
    width: 161px;
    height: 40px;
    @include flex;
    border-radius: $container-border-radius-medium;
    background: $color-background-white;
    font-weight: $font-fontWeight-black;
    letter-spacing: $font-letterSpacing-plus;
    font-size: 21px;
    line-height: 171%;
  }
  &__nav {
    @include flex;
    gap: 62px;
    flex-wrap: wrap;
    font-size: $font-text3-fontSize;
    line-height: 171%;
    letter-spacing: $font-letterSpacing-plus;
    font-weight: $font-fontWeight-medium;
  }
}

.mobileMenu {
  display: none;
}

// Инфо
.info {
  padding: 115px 0 100px;
  background: url(./img/info-bg.png);
  background-position: 0px -20px;
  &__desc {
    width: 55%;
    margin-top: 42px;
    font-size: 24px;
  }
  &__btn {
    width: 210px;
    height: 48px;
    margin-top: 80px;
  }
}

// Дополнительные источники
.additional {
  margin-top: 80px;
  padding-bottom: 95px;
  .container {
    @include flex(space-between);
    align-items: start;
    gap: 140px;
  }
  .title-two {
    width: 85%;
  }
}

.tab {
  &__title {
    position: relative;
    padding: 4px;
    display: flex;
    background: $color-background-button-primary-default;
    color: $color-button-primary-default;
    border-radius: $container-border-radius-medium;
  }
  &__text {
    position: absolute;
    margin-top: 30px;
    opacity: 0;
    visibility: hidden;
    transition: $transition-duration;
    &.active {
      position: relative;
      opacity: 1;
      visibility: visible;
    }
  }
  .btn {
    width: 50%;
    height: 52px;
    position: relative;
    z-index: 1;
    border-radius: 0;
    background: $color-background-button-primary-default;
    @include text1;
    font-weight: $font-fontWeight-bold;
    color: $color-button-primary-default;
    &-active {
      border-radius: $container-border-radius-medium;
      background: $color-background-button-primary-active;
      color: $color-button-primary-active;
    }
  }
  .line {
    width: 49%;
    height: calc(100% - 8px);
    position: absolute;
    left: 4px;
    top: 4px;
    background: $color-background-dark;
    border-radius: $container-border-radius-medium;
    transition: $transition-duration;
  }
}

button[data-name="operator"].btn-active ~ .line {
  transform: translateX(0%);
}

button[data-name="service"].btn-active ~ .line {
  transform: translateX(97%);
}

// Баланс
.balans {
  padding: 115px 0 190px;
  background: $color-background-grey;
  .title-two {
    text-align: center;
  }
  &__flex {
    margin-top: 110px;
    @include flex;
    gap: 25px;
    flex-wrap: wrap;
    @include text2;
    p {
      width: 235px;
    }
  }
  &__img {
    @include flex;
    &-bg {
      width: 120px;
      height: 120px;
      @include flex;
      border-radius: $container-border-radius-big;
      background: $color-background-orange;
    }
  }
  .title-three {
    width: 180px;
    margin: 13px 0 16px;
  }
}

// Партнеры
.partners {
  .container {
    margin: 115px auto;
    @include flex(space-between);
    gap: 20px;
  }
  &__list {
    @include flex(space-between);
    gap: 100px;
    flex-wrap: wrap;
  }
  .title-two {
    @include h3;
  }
}

// Как работаем
.howWork {
  position: relative;
  padding: 125px 0 95px;
  background: $color-background-grey;
  &__img {
    position: absolute;
    right: 0;
    top: 105px;
  }
  &__list {
    width: 50%;
    margin: 32px 0 80px;
    &__item {
      margin-bottom: 20px;
      display: flex;
      align-items: start;
      gap: 14px;
    }
    p {
      width: 78%;
    }
  }
  .title-two {
    width: 50%;
  }
  .btn {
    width: 210px;
    height: 48px;
  }
}

// Форма
.forma {
  padding: 125px 0 200px;
}

.form {
  margin-top: 65px;
  @include flex(space-between);
  gap: 40px;
  textarea {
    width: 50%;
    height: 216px;
    padding: 15px 20px;
    @include input;
    border-radius: $container-border-radius-big;
    background: $color-background-default;
    border: 1px solid $color-background-grey-dark;
    resize: none;
  }
  > div {
    width: 50%;
  }
  .email {
    width: 100%;
    padding: 15px 0;
    background: $color-background-default;
    border: 0;
    border-bottom: 1px solid $color-background-grey-dark;
    @include input;
    &::-moz-placeholder {
      @include input;
    }
    &::-webkit-input-placeholder {
      @include input;
    }
    &:-ms-input-placeholder {
      @include input;
    }
    &::placeholder {
      @include input;
    }
  }
  .checkbox {
    margin: 32px 0 48px;
    display: flex;
    gap: 10px;
    @include text3;
    input {
      position: absolute;
      z-index: -1;
      opacity: 0;
      &:checked + label::before {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='8' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8.26673 0.754181L3.77507 5.24585L1.7334 3.20418' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-repeat: no-repeat;
        background-position: center;
        background-color: $color-background-orange;
        border: 1px solid $color-background-orange;
      }
    }
    label {
      &:before {
        content: "";
        display: inline-block;
        width: 14px;
        height: 14px;
        border: 1px solid $color-background-grey-dark;
        border-radius: $container-border-radius-small;
        transition: $transition-duration;
        cursor: pointer;
      }
    }
    a {
      text-decoration: underline;
      text-decoration-skip-ink: none;
    }
  }
  .btn {
    width: 100%;
    height: 48px;
  }
}

// Адаптивность
@media (max-width: 1339px) {
}

@media (max-width: 767px) {
}

@media (max-width: 320px) {
}
