@font-face {
  font-family: "Onest";
  src: url("./fonts/Onest-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("./fonts/Onest-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("./fonts/Onest-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("./fonts/Onest-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #e8edee;
  font-size: 22px;
  line-height: 32px;
  font-family: "Onest", sans-serif;
}

a {
  color: #1d1d1b;
  border: 1px solid transparent;
  text-decoration: none;
  transition: 0.4s;
}
a:hover {
  color: #ff5900;
}
a .active {
  color: #ff5900;
  border: 1px solid #e0570e;
}

a:active,
a:hover,
a:focus {
  outline: 0;
  outline-offset: 0;
  box-shadow: none;
}

*:focus {
  outline: none;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 30px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.04em;
  border-radius: 10px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: 0.4s;
}
.btn-black {
  background: #f2f6f6;
  color: #a4adac;
}
.btn-black-active {
  background: #1d1d1b;
  color: #fff;
}
.btn-black-active:hover {
  background: #a4adac;
  color: #fff;
}
.btn-orange {
  background: #ff5900;
  color: #fff;
}
.btn-orange:hover {
  background: #e0570e;
  color: #fff;
}

.title-one {
  font-weight: 700;
  font-size: 80px;
  letter-spacing: -0.04em;
  line-height: 110%;
}
.title-two {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
}
.title-three {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
}

.header {
  position: relative;
}
.header .container {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 161px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: #fff;
  font-weight: 900;
  letter-spacing: 0.04em;
  font-size: 21px;
  line-height: 171%;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 62px;
  flex-wrap: wrap;
}
.header__nav li {
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.04em;
  font-weight: 500;
}
.header svg {
  cursor: pointer;
}

.mobileMenu,
.burger-open {
  display: none;
}

.info {
  padding: 115px 0 100px;
  background: url(./img/info-bg.png);
  background-position: 0px -20px;
}
.info__desc {
  width: 55%;
  margin-top: 42px;
  font-size: 24px;
}
.info__btn {
  width: 210px;
  height: 48px;
  margin-top: 80px;
}

.additional {
  margin-top: 80px;
  padding-bottom: 165px;
}
.additional .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: start;
  gap: 140px;
}
.additional .title-two {
  width: 450px;
}

.tab {
  width: 560px;
}
.tab__title {
  position: relative;
  padding: 4px;
  display: flex;
  background: #f2f6f6;
  color: #a4adac;
  border-radius: 10px;
}
.tab__text {
  width: 560px;
  position: absolute;
  margin-top: 30px;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}
.tab__text.active {
  opacity: 1;
  visibility: visible;
}
.tab .btn {
  width: 50%;
  height: 52px;
  border-radius: 0;
  background: #f2f6f6;
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
  color: #a4adac;
}
.tab .btn-active {
  color: #fff;
}
.tab .btn span {
  position: relative;
  z-index: 1;
}
.tab .line {
  width: 49%;
  height: calc(100% - 8px);
  position: absolute;
  left: 4px;
  top: 4px;
  background: #1d1d1b;
  border-radius: 10px;
  transition: 0.4s;
}

button[data-name=operator].btn-active ~ .line {
  transform: translateX(0%);
}

button[data-name=service].btn-active ~ .line {
  transform: translateX(97%);
}

.balans {
  padding: 115px 0 190px;
  background: #f2f6f6;
}
.balans .title-two {
  text-align: center;
}
.balans__flex {
  margin-top: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  font-size: 18px;
  line-height: 22px;
}
.balans__flex p {
  width: 235px;
}
.balans__img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.balans__img-bg {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background: #ff5900;
}
.balans .title-three {
  width: 180px;
  margin: 13px 0 16px;
}

.partners .container {
  margin: 115px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.partners__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  flex-wrap: wrap;
}
.partners .title-two {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
}

.howWork {
  position: relative;
  padding: 125px 0 95px;
  background: #f2f6f6;
}
.howWork__img {
  position: absolute;
  right: 0;
  top: 105px;
}
.howWork__list {
  width: 50%;
  margin: 32px 0 80px;
}
.howWork__list__item {
  margin-bottom: 20px;
  display: flex;
  align-items: start;
  gap: 14px;
}
.howWork__list p {
  width: 78%;
}
.howWork .title-two {
  width: 50%;
}
.howWork .btn {
  width: 210px;
  height: 48px;
}

.forma {
  padding: 125px 0 200px;
}

.form {
  margin-top: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.form textarea {
  width: 50%;
  height: 216px;
  padding: 15px 20px;
  font-family: "Onest", sans-serif;
  font-size: 18px;
  line-height: 120%;
  border-radius: 12px;
  background: #e8edee;
  border: 1px solid #a4adac;
  transition: 0.4s;
  resize: none;
}
.form textarea:focus {
  border: 1px solid #1d1d1b;
}
.form > div {
  width: 50%;
}
.form .email {
  position: relative;
}
.form .email__error {
  position: absolute;
  color: #ff5900;
  opacity: 0;
  visibility: hidden;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 0.05em;
  transition: 0.4s;
}
.form .email__error.active {
  opacity: 1;
  visibility: visible;
}
.form .email__input {
  width: 100%;
  padding: 15px 0;
  background: #e8edee;
  border: 0;
  border-bottom: 1px solid #a4adac;
  font-family: "Onest", sans-serif;
  font-size: 18px;
  line-height: 120%;
  transition: 0.4s;
}
.form .email__input::-moz-placeholder {
  font-family: "Onest", sans-serif;
  font-size: 18px;
  line-height: 120%;
}
.form .email__input::placeholder {
  font-family: "Onest", sans-serif;
  font-size: 18px;
  line-height: 120%;
}
.form .email__input:focus {
  border-bottom: 1px solid #1d1d1b;
}
.form .checkbox {
  margin: 32px 0 48px;
  display: flex;
  gap: 10px;
  font-size: 14px;
  line-height: 20px;
}
.form .checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.form .checkbox input:checked + label::before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='8' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8.26673 0.754181L3.77507 5.24585L1.7334 3.20418' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ff5900;
  border: 1px solid #ff5900;
}
.form .checkbox label:before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #a4adac;
  border-radius: 4px;
  transition: 0.4s;
  cursor: pointer;
}
.form .checkbox a {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.form .btn {
  width: 100%;
  height: 48px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #1d1d1b;
  -webkit-box-shadow: 0 0 0px 40rem #e8edee inset;
}

@media (max-width: 1339px) {
  .desktopNav {
    display: none;
  }
  .mobileMenu,
  .burger-open {
    display: block;
  }
  .mobileMenu {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    width: 283px;
    height: 100%;
    padding: 31px 40px 40px 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    background: #fff;
    transition: 0.4s;
  }
  .mobileMenu.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
  .mobileMenu .burger {
    width: 44px;
    height: 44px;
    position: absolute;
    top: 18px;
    right: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ff5900;
    border-radius: 10px;
  }
  .mobileMenu .header__nav {
    gap: 25px;
    justify-content: start;
  }
}/*# sourceMappingURL=style.css.map */