@import "variable.scss";

@font-face {
  font-family: "Onest";
  src: url("../fonts//Onest-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: $color-background-default;
  @include text1;
  font-family: $font-fontFamily;
  overflow-x: hidden;
}

a {
  color: $color-text-primary;
  border: 1px solid transparent;
  text-decoration: none;
  transition: $transition-duration;
  &:hover {
    color: $color-text-hover;
  }
  .active {
    color: $color-text-hover;
    border: 1px solid $color-link-primary;
  }
}

a:active,
a:hover,
a:focus {
  outline: 0;
  outline-offset: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

*:focus {
  outline: none;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 30px;
}

.btn {
  @include flex;
  @include button;
  border-radius: $container-border-radius-medium;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: $transition-duration;
  &-black {
    @include btn-black;
    &-active {
      @include btn-black-active;
      &:hover {
        @include btn-black-hover;
      }
    }
  }
  &-orange {
    @include btn-orange;
    &:hover {
      @include btn-orange-hover;
    }
  }
}

.title {
  &-one {
    @include h1;
  }
  &-two {
    @include h2;
  }
  &-three {
    @include h3;
  }
}

.overflow {
  overflow: hidden;
}

.img-bg {
  width: 100%;
  position: absolute;
  z-index: -1;
  right: 0;
  opacity: 0.8;
  img {
    width: 100%;
  }
}

// Хедер
.header {
  .container {
    margin-top: 48px;
    @include flex(space-between);
  }
  &__logo {
    width: 161px;
    height: 40px;
    @include flex;
    border-radius: $container-border-radius-medium;
    background: $color-background-white;
    font-weight: $font-fontWeight-black;
    letter-spacing: $font-letterSpacing-plus;
    font-size: 21px;
    line-height: 171%;
  }
  &__nav {
    @include flex;
    gap: 62px;
    flex-wrap: wrap;
    li {
      font-size: $font-text3-fontSize;
      line-height: 171%;
      letter-spacing: $font-letterSpacing-plus;
      font-weight: $font-fontWeight-medium;
      transition: $transition-duration;
      & .active {
        color: $color-link-primary;
      }
    }
  }
  svg {
    cursor: pointer;
  }
}

.mobileMenu,
.burger-open {
  display: none;
}

// Инфо
.info {
  padding: 115px 0 100px;
  &__desc {
    width: 55%;
    margin-top: 42px;
    font-size: 24px;
  }
  &__btn {
    width: 210px;
    height: 48px;
    margin-top: 80px;
  }
}

// Дополнительные источники
.additional {
  margin-top: 80px;
  padding-bottom: 165px;
  .container {
    @include flex(space-between);
    align-items: start;
    gap: 140px;
  }
  .title-two {
    width: 450px;
  }
}

.tab {
  width: 560px;
  &__title {
    position: relative;
    padding: 4px;
    display: flex;
    background: $color-background-button-primary-default;
    color: $color-button-primary-default;
    border-radius: $container-border-radius-medium;
  }
  &__text {
    position: absolute;
    width: 560px;
    margin-top: 30px;
    opacity: 0;
    visibility: hidden;
    transition: $transition-duration opacity;
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
  .btn {
    width: 50%;
    height: 52px;
    border-radius: 0;
    background: $color-background-button-primary-default;
    @include text1;
    font-weight: $font-fontWeight-bold;
    color: $color-button-primary-default;
    &-active {
      color: $color-button-primary-active;
    }
    span {
      position: relative;
      z-index: 1;
    }
  }
  .line {
    width: 50%;
    height: calc(100% - 8px);
    position: absolute;
    left: 4px;
    top: 4px;
    background: $color-background-dark;
    border-radius: $container-border-radius-medium;
    transition: $transition-duration;
  }
}

button[data-name="operator"].btn-active ~ .line {
  transform: translateX(0%);
}

button[data-name="service"].btn-active ~ .line {
  transform: translateX(97%);
}

// Баланс
.balans {
  padding: 115px 0 190px;
  background: $color-background-grey;
  .title-two {
    margin: 0 auto;
    text-align: center;
  }
  .title-three {
    width: 180px;
    margin: 15px 0;
  }
  &__flex {
    margin-top: 110px;
    @include flex;
    gap: 25px;
    flex-wrap: wrap;
    @include text2;
    p {
      width: 235px;
    }
  }
  &__img {
    position: relative;
    @include flex;
    &::before {
      content: "";
      display: inline-block;
      width: 227px;
      height: 12px;
      background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg width='227' height='12' viewBox='0 0 227 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.218805 6C0.218805 9.19287 2.80713 11.7812 6 11.7812C9.19287 11.7812 11.7812 9.19287 11.7812 6C11.7812 2.80713 9.19287 0.218805 6 0.218805C2.80713 0.218805 0.218805 2.80713 0.218805 6ZM6 7.08397H227V4.91603H6V7.08397Z' fill='%23FF5900' /%3e%3c/svg%3e");
      background-repeat: no-repeat;
    }
    &::after {
      content: "";
      display: inline-block;
      width: 231px;
      height: 12px;
      background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg width='230' height='12' viewBox='0 0 230 12' fill='none' xmlns='http://www.w3.org/2000/svg' %3e%3cpath d='M218.219 6.00002C218.219 9.19289 220.807 11.7812 224 11.7812C227.193 11.7812 229.781 9.19289 229.781 6.00002C229.781 2.80715 227.193 0.218825 224 0.218824C220.807 0.218824 218.219 2.80715 218.219 6.00002ZM-9.4764e-08 7.08397L224 7.08399L224 4.91605L9.4764e-08 4.91603L-9.4764e-08 7.08397Z' fill='%23FF5900' /%3e%3c/svg%3e");
      background-repeat: no-repeat;
    }
    &-bg {
      width: 120px;
      height: 120px;
      @include flex;
      border-radius: $container-border-radius-big;
      background: $color-background-orange;
    }
    .title-three {
      width: 180px;
      margin: 13px 0 16px;
    }
  }
}

// Партнеры
.partners {
  .container {
    margin: 115px auto;
    @include flex(start);
    gap: 100px;
  }
  &__list {
    @include flex(start);
    gap: 80px;
    flex-wrap: wrap;
  }
  .title-two {
    @include h3;
  }
}

// Как работаем
.howWork {
  position: relative;
  padding: 125px 0 95px;
  background: $color-background-grey;
  &__img {
    position: absolute;
    right: 0;
    top: 105px;
  }
  &__list {
    width: 50%;
    margin: 32px 0 80px;
    &__item {
      margin-bottom: 20px;
      display: flex;
      align-items: start;
      gap: 14px;
    }
    p {
      width: 78%;
    }
  }
  .title-two {
    width: 50%;
  }
  .btn {
    width: 210px;
    height: 48px;
  }
}

// Форма
.forma {
  padding: 125px 0 200px;
}

.form {
  margin-top: 65px;
  @include flex(space-between);
  gap: 40px;
  textarea {
    width: 50%;
    height: 216px;
    padding: 15px 20px;
    @include input;
    border-radius: $container-border-radius-big;
    background: $color-background-default;
    border: 1px solid $color-background-grey-dark;
    transition: $transition-duration;
    resize: none;
    &::-moz-placeholder {
      @include input;
    }
    &::-webkit-input-placeholder {
      @include input;
    }
    &:-ms-input-placeholder {
      @include input;
    }
    &::placeholder {
      @include input;
    }
    &:focus {
      border: 1px solid $color-background-dark;
    }
  }
  > div {
    width: 50%;
  }
  .email {
    position: relative;
    &__error {
      position: absolute;
      color: $color-text-hover;
      opacity: 0;
      visibility: hidden;
      font-weight: 500;
      font-size: 10px;
      letter-spacing: 0.05em;
      transition: $transition-duration;
      &.active {
        opacity: 1;
        visibility: visible;
      }
    }
    &__input {
      width: 100%;
      padding: 15px 0;
      background: $color-background-default;
      border: 0;
      border-bottom: 1px solid $color-background-grey-dark;
      @include input;
      transition: $transition-duration;
      &::-moz-placeholder {
        @include input;
      }
      &::-webkit-input-placeholder {
        @include input;
      }
      &:-ms-input-placeholder {
        @include input;
      }
      &::placeholder {
        @include input;
      }
      &:focus {
        border-bottom: 1px solid $color-background-dark;
      }
    }
  }
  .checkbox {
    margin: 32px 0 45px;
    display: flex;
    gap: 10px;
    @include text3;
    input {
      position: absolute;
      z-index: -1;
      opacity: 0;
      &:checked + label::before {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='8' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8.26673 0.754181L3.77507 5.24585L1.7334 3.20418' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-repeat: no-repeat;
        background-position: center;
        background-color: $color-background-orange;
        border: 1px solid $color-background-orange;
      }
    }
    label {
      &:before {
        content: "";
        display: inline-block;
        width: 14px;
        height: 14px;
        border: 1px solid $color-background-grey-dark;
        border-radius: $container-border-radius-small;
        transition: $transition-duration;
        cursor: pointer;
      }
    }
    a {
      text-decoration: underline;
      text-decoration-skip-ink: none;
    }
  }
  .btn {
    width: 100%;
    height: 48px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: $color-text-primary;
  -webkit-box-shadow: 0 0 0px 40rem $color-background-default inset;
}

// Адаптивность
@media (max-width: 1339px) {
  body {
    @include text3;
  }

  .container {
    max-width: 95%;
    padding: 0 25px;
  }

  .img-bg {
    top: -90px;
    overflow-x: hidden;
    img {
      width: auto;
    }
  }

  .header {
    .container {
      margin-top: 30px;
    }
  }

  .desktopNav {
    display: none;
  }

  .mobileMenu,
  .burger-open {
    display: block;
  }

  .mobileMenu {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    width: 283px;
    height: 100%;
    padding: 31px 40px 40px 31px;
    @include flex;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    background: $color-background-white;
    transition: 0.1s;
    &.active {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
    .burger {
      width: 44px;
      height: 44px;
      position: absolute;
      top: 18px;
      right: 18px;
      @include flex;
      border: 2px solid $color-background-orange;
      border-radius: $container-border-radius-medium;
    }
    .header__nav {
      gap: 25px;
      justify-content: start;
      & .active {
        color: $color-link-primary;
      }
    }
    .logo {
      display: none;
    }
  }

  .title {
    &-one {
      font-size: $font-h1-fontSize-tablet;
    }
    &-two {
      font-size: $font-h2-fontSize-tablet;
    }
    &-three {
      font-size: $font-h3-fontSize-tablet;
    }
  }

  .info {
    padding: 95px 0 105px;
    background-position: 0px -90px;
    &__desc {
      margin-top: 30px;
      font-size: $font-text3-fontSize;
    }
    &__btn {
      width: 100%;
      margin-top: 60px;
    }
  }

  .additional {
    margin-top: 20px;
    padding-bottom: 35px;
    .container {
      gap: 40px;
    }
    .title-two {
      width: 50%;
    }
  }

  .tab {
    width: auto;
    flex-grow: 1;
    &__text {
      width: 40%;
      margin-top: 12px;
    }
    .btn {
      min-width: 165px;
      height: 32px;
      border-radius: $container-border-radius-tablet;
      font-size: $font-text3-fontSize + 2px;
    }
    .line {
      min-width: 165px;
    }
  }

  .balans {
    padding: 80px 0 95px;
    .title-two {
      width: 85%;
    }
    .title-three {
      width: 125px;
      margin: 12px 0 14px;
    }
    &__flex {
      margin-top: 85px;
      gap: 20px;
      font-size: $font-text3-fontSize - 2px;
      line-height: $font-title-lineHeight-big;
      p {
        width: 160px;
      }
    }
    &__left svg {
      width: 24px;
      height: 24px;
    }
    &__img {
      &:after {
        width: 96px;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='96' height='12' viewBox='0 0 96 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M95.3333 6C95.3333 3.05448 92.9455 0.666667 90 0.666667C87.0545 0.666666 84.6667 3.05448 84.6667 6C84.6667 8.94552 87.0545 11.3333 90 11.3333C92.9455 11.3333 95.3333 8.94552 95.3333 6ZM90 5L8.74228e-08 4.99999L-8.74228e-08 6.99999L90 7L90 5Z' fill='%23FF5900' /%3e%3c/svg%3e");
      }
      &:before {
        width: 96px;
      }
      &-bg {
        width: 80px;
        height: 80px;
        img {
          width: 53px;
          height: 49px;
        }
      }
    }
    &__right svg {
      width: 24px;
      height: 24px;
    }
  }

  .partners {
    .container {
      margin: 40px auto 70px;
      gap: 65px;
    }
    .title-two {
      max-width: 145px;
      font-size: $font-h3-fontSize-tablet;
    }
    &__list {
      gap: 30px;
      li {
        max-width: 30%;
      }
      img {
        width: 90%;
        object-fit: scale-down;
      }
    }
  }

  .howWork {
    padding: 50px 0 75px;
    overflow-x: hidden;
    &__img {
      max-width: 400px;
      height: auto;
    }
    .title-two {
      width: 35%;
    }
    svg {
      width: 24px;
      height: 24px;
    }
    &__img {
      max-width: 350px;
      top: 90px;
      right: -30px;
    }
    &__list {
      width: 60%;
      margin: 32px 0 32px;
      &__item {
        margin-bottom: 17px;
      }
    }
  }

  .forma {
    padding: 45px 0 50px;
  }

  .form {
    margin-top: 30px;
    flex-direction: column;
    gap: 30px;
    textarea {
      width: 100%;
      height: 220px;
      padding: 18px 12px;
      font-size: $font-text3-fontSize;
      &::-moz-placeholder {
        font-size: $font-text3-fontSize;
      }
      &::-webkit-input-placeholder {
        font-size: $font-text3-fontSize;
      }
      &:-ms-input-placeholder {
        font-size: $font-text3-fontSize;
      }
      &::placeholder {
        font-size: $font-text3-fontSize;
      }
    }
    > div {
      width: 100%;
    }
    .email__input {
      font-size: $font-text3-fontSize;
      &::-moz-placeholder {
        font-size: $font-text3-fontSize;
      }
      &::-webkit-input-placeholder {
        font-size: $font-text3-fontSize;
      }
      &:-ms-input-placeholder {
        font-size: $font-text3-fontSize;
      }
      &::placeholder {
        font-size: $font-text3-fontSize;
      }
    }
    .checkbox {
      margin: 32px 0 65px;
    }
  }
}

@media (max-width: 767px) {
  body {
    font-size: $font-text3-fontSize + 2px;
  }

  .img-bg {
    top: 65px;
    img {
      width: 740px;
      height: 410px;
    }
  }

  .container {
    max-width: 100%;
    padding: 0px 17px;
  }

  .mobileMenu {
    width: 100%;
    justify-content: start;
    .burger-close {
      width: 31px;
      height: 31px;
      border-radius: $container-border-radius-tablet;
    }
    .header__nav {
      flex-direction: column;
      align-items: start;
    }
    .logo {
      display: block;
      position: absolute;
      top: 20px;
      left: 50px;
    }
  }

  .header {
    .container {
      margin-top: 17px;
    }
    &__logo {
      width: 113px;
      height: 28px;
      border-radius: $container-border-radius-tablet;
      font-size: $font-text3-fontSize + 1px;
    }
    .burger-open {
      width: 31px;
      height: 31px;
    }
  }

  .title {
    &-one {
      font-size: $font-h1-fontSize-mobile;
    }
    &-two {
      font-size: $font-h2-fontSize-mobile;
      line-height: $font-title-lineHeight-big;
    }
    &-three {
      font-size: $font-h3-fontSize-mobile;
    }
  }

  .info {
    padding: 65px 0 60px;
    &__desc {
      width: 101%;
      margin-top: 34px;
      font-size: 16px;
    }
    .info__btn {
      margin-top: 110px;
    }
  }

  .additional {
    padding-bottom: 140px;
    .container {
      flex-direction: column;
      gap: 20px;
    }
    .title-two {
      width: 100%;
    }
  }

  .tab {
    width: 100%;
    .btn {
      min-width: 140px;
      height: 25px;
      border-radius: $container-border-radius-small + 1px;
      font-size: $font-text3-fontSize - 2px;
    }
    &__text {
      width: 90%;
      margin-top: 22px;
    }
    .line {
      min-width: 140px;
      border-radius: $container-border-radius-small + 1px;
    }
  }

  .balans {
    padding: 43px 0 40px;
    .title-two {
      width: 100%;
      text-align: left;
    }
    .title-three {
      width: 100%;
      margin: 12px 0 14px;
    }
    &__flex {
      width: 84%;
      margin: 55px auto 0;
      flex-direction: column;
      gap: 20px;
      p {
        width: 100%;
        font-size: 14px;
        line-height: $font-text-lineHeight-small - 2px;
      }
    }
    &__img {
      flex-direction: column;
      &:after {
        height: 59px;
        width: 12px;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='59' viewBox='0 0 12 59' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6 47.6667C3.05448 47.6667 0.666669 50.0545 0.666669 53C0.666669 55.9455 3.05448 58.3333 6 58.3333C8.94552 58.3333 11.3333 55.9455 11.3333 53C11.3333 50.0545 8.94552 47.6667 6 47.6667ZM5 4.37114e-08L5 53L7 53L7 -4.37114e-08L5 4.37114e-08Z' fill='%23FF5900' /%3e%3c/svg%3e");
      }
      &:before {
        height: 59px;
        width: 12px;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='59' viewBox='0 0 12 59' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6 0.666667C3.05448 0.666667 0.666666 3.05448 0.666667 6C0.666667 8.94552 3.05448 11.3333 6 11.3333C8.94552 11.3333 11.3333 8.94552 11.3333 6C11.3333 3.05448 8.94552 0.666666 6 0.666667ZM5 6L5 59L7 59L7 6L5 6Z' fill='%23FF5900' /%3e%3c/svg%3e");
      }
    }
  }

  .partners {
    .container {
      margin: 60px auto 70px;
      flex-direction: column;
      align-items: start;
      gap: 20px;
    }
    .title-two {
      max-width: 180px;
      font-size: 20px;
    }
    &__list {
      gap: 10px;
      justify-content: space-evenly;
      li {
        max-width: 48%;
      }
      img {
        width: 100%;
        max-height: 58px;
      }
    }
    &-two {
      order: 3;
    }
    &-three {
      order: 2;
    }
  }

  .howWork {
    padding: 35px 0 435px;
    &__img {
      max-width: 440px;
      width: 440px;
      top: unset;
      bottom: 50px;
      right: -148px;
    }
    .title-two {
      width: 225px;
    }
    &__list {
      width: 100%;
      margin: 30px 0 27px;
      &__item {
        margin-bottom: 15px;
        gap: 16px;
      }
      p {
        width: 85%;
        font-size: 14px;
      }
    }
    .btn {
      width: 100%;
    }
  }

  .forma {
    padding: 80px 0 50px;
  }

  .form {
    margin-top: 38px;
    gap: 27px;
    .checkbox {
      margin: 32px 0 32px;
    }
  }
}
